<mat-card
  [formGroup]="chatForm"
  style="width: 100%; min-height: 125px; margin-bottom: 8px"
>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="w-100">
          <textarea
            matInput
            placeholder="Message"
            formControlName="message"
            (keydown.enter)="submit()"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="col-auto">
        <button
          mat-fab
          color="primary"
          (click)="submit()"
          [disabled]="!chatForm.get('message').value"
        >
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
