<ng-container *ngIf="isLoading$ | async; else loading">
  <div class="container-fluid p-5 h-100">
    <div class="row">
      <div class="col-4">
        <app-user-chat></app-user-chat>
      </div>
      <div class="col-4">
        <app-therapist-chat></app-therapist-chat>
      </div>
      <div class="col-4">
        <app-user-selection-list></app-user-selection-list>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading
  ><div class="loading-indicator">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
